name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup spark
      uses: ./.github/actions/setup-spark
      with:
        spark-version: 1.0.0

    - name: Spark version
      run: ./spark --version

    - name: Generate ReStructuredText documentation from Markdown documentation
      env:
        GH_TOKEN: ${{ github.token }}
      run: ./spark sitedocs

    - name: Move generated ReStructuredText documentation to src/
      run: mv .spark/codeql/docs/codeql src

    - name: Check for changes to src/
      run: |
        if git diff --quiet src
        then
          echo "No changes detected in src/; nothing to deploy."
          exit 0
        fi

    - name: Setup sphinx
      uses: ./.github/actions/setup-sphinx

    - name: Generate HTML documentation from ReStructuredText documentation
      # -a, --write-all       : Generates output for all files; without this option only output for new and changed files is generated.
      # -b, --builder         : Specifies the builder to use. In this case, 'dirhtml' generates HTML files in a directory structure.
      # -E, --fresh-env       : Ignores cached files, forces to re-read all source files from disk.
      # -W, --fail-on-warning : Turn warnings into errors.
      run: sphinx-build -aEWb dirhtml src docs

    - name: Configure git user
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
    
    - name: Commit and push changes
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        git checkout -b "update-docs-$GITHUB_RUN_ID"
        git add docs src
        git commit -m "Update docs for run $GITHUB_RUN_ID"
        gh pr create \
          --base main \
          --head "update-docs-$GITHUB_RUN_ID" \
          --title "Update docs for run $GITHUB_RUN_ID" \
          --body "This PR was created automatically by the GitHub Actions workflow."
