name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      id: checkout
    - uses: actions/checkout@v5
      if: false
      with:
        path: semmle-code
        repository: github/semmle-code
        submodules: true

    - uses: .github/actions/setup-spark@main
      with:
        spark-version: v1.11.5

    - run: spark --help
