name: ubuntu-slim test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4

      - name: Run python3
        run: which python3 && python3 --version

      - name: Run python
        run: which python && python --version
